/* css styles */
.quarto-about-trestles .about-image {
    margin-right: 1.2rem;
  }
  
  /* Slightly shrink profile image */
  .quarto-about-trestles .about-image img {
    max-width: 160px;
  }
  
  /* Reduce link font size */
  .quarto-about-trestles .about-links {
    font-size: 0.8rem;
    line-height: 1.3;
  }
  
  /* Reduce spacing between links */
  .quarto-about-trestles .about-links li {
    margin-bottom: 0.15rem;
  }
  
  /* Make icons smaller & lighter */
  .quarto-about-trestles .about-links i,
  .quarto-about-trestles .about-links svg {
    font-size: 0.8em;
    opacity: 0.85;
  }
  
  /* Let main content breathe more */
  .quarto-about-trestles .about-contents {
    max-width: 80%;
  }